@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide Timeline Grid Lines */
.custom-timeline .rct-vl {
  border: none !important;
  background: transparent !important;
}

/* Timeline Header Backgrounds */
.custom-timeline .rct-header-container,
.custom-timeline .rct-calendar-header {
  background: #0f172a !important;
  /* slate-900 */
}

.custom-timeline .rct-dateHeader {
  background: #0f172b !important;
  /* slate-800 */
  border-left: 1px solid #334155 !important;
  /* slate-700 */
  color: #e2e8f0 !important;
  /* slate-200 */
}

/* Primary (Top) Header - Month */
.custom-timeline .rct-dateHeader-primary {
  background: #0f172a !important;
  /* slate-900 */
  color: #ffffff !important;
}